In [ ]:
import pandas as pd
import requests

# fetch data from the API endpoint with a limit of 1000 rows
url = "https://data.cityofchicago.org/resource/4ijn-s7e5.csv?$limit=1000&$offset=0"
response = requests.get(url)

# load data into a pandas DataFrame from the response content
data = pd.read_csv(url)

In [80]:
data.sample(1)

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location
57,2615540,EL PROGRESSO,EL PROGRESSO,2924421,Grocery Store,Risk 1 (High),3937 W 31ST ST,CHICAGO,IL,60623,2025-04-10T00:00:00.000,Complaint,Fail,2. CITY OF CHICAGO FOOD SERVICE SANITATION CER...,41.836788,-87.723357,"\n, \n(41.83678848302045, -87.7233568547893)"

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   inspection_id    1000 non-null   int64
 1   dba_name         1000 non-null   object
 2   aka_name         995 non-null    object
 3   license_         1000 non-null   int64
 4   facility_type    979 non-null    object
 5   risk             1000 non-null   object
 6   address          1000 non-null   object
 7   city             999 non-null    object
 8   state            1000 non-null   object
 9   zip              1000 non-null   int64
 10  inspection_date  1000 non-null   object
 11  inspection_type  1000 non-null   object
 12  results          1000 non-null   object
 13  violations       687 non-null    object
 14  latitude         994 non-null    float64
 15  longitude        994 non-null    float64
 16  location         994 non-null    object
dtypes: float64(2), int64(3), object(12)
memory usage: 132.9+ KB

In [82]:
# function to clean
def clean(df):
    df['inspection_date'] = pd.to_datetime(df['inspection_date']).dt.strftime('%Y-%m-%d')
    df = df.drop(columns=['aka_name', 'license_', 'city', 'state', 'violations', 'location'])
    df = df[df['results'] != 'No Entry']
    df = df.dropna()
    return df

In [83]:
# test
data = clean(data)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 915 entries, 0 to 999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   inspection_id    915 non-null    int64
 1   dba_name         915 non-null    object
 2   facility_type    915 non-null    object
 3   risk             915 non-null    object
 4   address          915 non-null    object
 5   zip              915 non-null    int64
 6   inspection_date  915 non-null    object
 7   inspection_type  915 non-null    object
 8   results          915 non-null    object
 9   latitude         915 non-null    float64
 10  longitude        915 non-null    float64
dtypes: float64(2), int64(2), object(7)
memory usage: 85.8+ KB

In [87]:
data.sample(5)

,inspection_id,dba_name,facility_type,risk,address,zip,inspection_date,inspection_type,results,latitude,longitude
505,2614892,ENTRE PANAS RESTAURANT,Restaurant,Risk 1 (High),2430 W 47TH ST,60632,2025-04-01,License,Pass,41.808532,-87.685591
114,2615430,M.W. PRINCE HALL GRAND LODGE,Restaurant,Risk 1 (High),809 E 42ND PL,60653,2025-04-09,Canvass,Pass w/ Conditions,41.817842,-87.606302
211,2615294,SUBWAY,Restaurant,Risk 1 (High),1656 W 119TH ST,60643,2025-04-08,Canvass,Pass,41.677616,-87.663160
528,2614788,SUNNY VILLAGE CAFE,Restaurant,Risk 1 (High),5916-5918 N W LAWRENCE AVE,60630,2025-03-31,Canvass,Pass w/ Conditions,41.967786,-87.775497
774,2614405,THE GARDNER SCHOOL,Children's Services Facility,Risk 1 (High),1301 W MADISON ST,60607,2025-03-25,License,Pass,41.881463,-87.659660